includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - database
        - routes
    excludePaths:
        - bootstrap/cache
    tmpDir: bootstrap/cache/phpstan
    reportUnmatchedIgnoredErrors: true
